@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
}

.link-item {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s;
  font-size: 24px;
}

span {
  color: #61dafb;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:enabled {
  background-color: #007bff;
}
